<section
  class="container my-2 bg-dark w-50 text-light p-2"
  style="border-radius: 1rem"
>
  <form
    class="row g-4 mt-4 p-3"
    style="--bs-border-opacity: 0.5"
    action="/interviews/create"
    method="POST"
  >
    <h4 class="m-0">Add Interview</h4>
    <div class="col-12">
      <label for="company" class="form-label">Company</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter company name"
        id="company"
        name="company"
        required
      />
    </div>
    <div class="col-12">
      <label for="date" class="form-label">Date</label>
      <input type="date" class="form-control" id="date" name="date" required />
    </div>
    <div class="text-center py-2">
      <button class="btn btn-primary btn-lg btn-rounded px-4" type="submit">
        Add Interview
      </button>
    </div>
  </form>
</section>
