* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:white;
}

.welcome-card {
  width: 70%;
}

body::-webkit-scrollbar {
  display: none;
}

.accordion {
  background-color:steelblue;
}

.navbar .navbar-nav .nav-btn {
  padding: 10px;
}

/* Customize the accordion headers */
.accordion-button {
  background-color: #e0e0e0;
  color: #333;
}

.accordion-button:focus {
  box-shadow: none;
}

/* Style the accordion body */
.accordion-body {
  background-color: #fff;
  color: #333;
}

/* Style the card headers */
.card-header {
  background-color:darkolivegreen;
  color: #fff;
}

/* Style the interview tables */
.table-dark {
  background-color: #333;
  color: #fff;
}
